
PEP2.0/.vs/Proyecto/v15/Server/sqlite3/storage.ide-wal
PEP2.0/.vs/Proyecto/v15/Server/sqlite3/storage.ide-shm
PEP2.0/.vs/Proyecto/v15/.suo
PEP2.0/.vs/Proyecto/v15/Server/sqlite3/storage.ide-wal
PEP2.0/Proyecto/bin/Proyecto.dll
PEP2.0/Proyecto/bin/Proyecto.pdb
PEP2.0/Proyecto/obj/Debug/Proyecto.dll
PEP2.0/Proyecto/obj/Debug/Proyecto.pdb
